:root {
    --main-green: #00ff00;
}

@font-face {
    font-family: "Press Start 2P";
    src: url('fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: "Cutive Mono";
    src: url('fonts/Cutive_Mono/Cutive_Mono-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    font-family: 'Cutive Mono', monospace;
}

.titleFont {
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
}

.newLine {
    white-space: pre-line;
    line-height: 2.0;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: var(--main-green);
}

a:hover {
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: space-evenly;
    padding: 14px;
    background-color: black;
}

.navlink {
    color: #b3b3b3;
}


#main {
    flex: 1 1 auto;
    background-color: black;
    position: relative;
    padding: 70px;
    color: var(--main-green);
}

hr {
    border-top: 2px dashed var(--main-green);
    border-bottom: 2px dashed var(--main-green);
    margin: 5px;
    margin-top: 10px;
}

#c8 {
    text-align: center;
}

#go {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--main-green);
    font-size: 14px;
}

#goLink:hover {
    color: red;
}

.function {
    display: block;
}

.codeBlock {
    color: yellow;
    overflow-y: scroll;
    height: 180px;
    cursor: default;
    float: left;
    margin-right: 40px;
}

.codeFunctions {
    display: inline-block;
    text-align: center;
}

.option:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #191919;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
}